<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--VNPAY SETTINGS-->
		<add key="vnp_Url" value="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"/>
		<add key="vnp_Api" value="https://sandbox.vnpayment.vn/merchant_webapi/api/transaction"/>
		<add key="vnp_TmnCode" value="KMR0TGR4" />
		<add key="vnp_HashSecret" value="AMKZRUPOHRIQHDESVJPTVFRBIPRDGVXZ" />
		<add key="vnp_Returnurl" value="http://localhost:16262/vnpay_return.aspx"/>
	</appSettings>
</configuration>